.promo {
  position: relative;
  margin-bottom: 50px;
}

//заголовок
.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 320px;
  margin: 0 auto;

  margin-bottom: 30px;
  transform: translateY(0px);

  animation-name: textUp;
  animation-timing-function: ease-in-out;
  animation-duration: 1500ms;
}

//заголовок-анимация

@keyframes textUp {
  0% {
      opacity: 0.1;
      transform: translateY(200px);

  }
  100% {
      opacity: 1;
      transform: translateY(0px);
      transition-delay: 950ms;

  }
}
.promo__title {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.3em;
  font-variant: small-caps;
}

.promo__subtitle {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}

// фото
.promo__photo {
  position: relative;
}

.promo__photo-wrapper {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  box-sizing: border-box;

  &--left {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &--right {
    display: none;
  }
}

.promo__img {
  display: block;
  flex-shrink: 0;
  border: none;
  object-fit: cover;
  animation: visible;
  animation-timing-function: ease-in-out;
  animation-duration: 1000ms;

  &--left {
    width: 100%;
    height: 100%;
    transition-duration: 1000ms;
  }

  &--right {
    display: none;
  }
}

// фото-анимация(используется также на странице портфолио)
@keyframes visible {
  0% {
    transform: translateX(600px);
  }
  100% {
      transform: translateX(0px);
  }
}


@media (min-width: 1366px) {
  .promo {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 150px auto;
  }

//заголовок
  .promo__wrapper {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
    margin: 0;

    margin-bottom: 30px;
    transform: translateY(0px);

    animation-name: up;
    animation-timing-function: ease-in-out;
    animation-duration: 1500ms;
  }

//заголовок-анимация
  @keyframes up {
    0% {
        opacity: 0.1;
        transform: translateY(200px);

    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 950ms;

    }
  }
  .promo__title {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 58px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 0.3em;
    font-variant: small-caps;
  }

  .promo__subtitle {
    margin: 0;
    margin-left: 508px;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;

    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: unset;
  }

// фото
  .promo__photo {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;

    display: grid;
    grid-template-columns: 420px auto 500px;
    grid-template-rows: 50px 440px 50px;


    background-color: #f4f5f6;
    background: linear-gradient(to left, #f4f5f6, #e8e8e8);
    width: 1010px;
    position: relative;
  }

  .promo__photo-wrapper {
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;

    &--left {
      position: relative;
      width: 420px;
      height: 540px;

      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: -1;

      border-right: 20px solid #ffffff;
    }

    &--right {
      position: absolute;
      right: -98px;

      width: 500px;
      height: 440px;

      grid-column-start: 3;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: -2;

      box-shadow: -10px 0 20px 0px #888;
      border-left: 164px solid #ffffff;
      border-right: 10px solid white;
      border-radius: 2px;
    }
  }

  .promo__img {
    display: block;
    flex-shrink: 0;
    border: none;
    object-fit: cover;
    animation: visible;
    animation-timing-function: ease-in-out;
    animation-duration: 900ms;

    &--left {
      width: 420px;
      height: 540px;
      transition-duration: 1000ms;
    }

    &--right {
      width: 340px;
      height: 420px;
      margin-left: auto;
      margin-top: 10px;
      border-radius: 3px;
      transition-duration: 1050ms;
    }
  }

// фото-анимация
  @keyframes visible {
    0% {
      transform: translateX(600px);
    }
    100% {
        transform: translateX(0px);
    }
  }
}

@media (min-width: 1920px) {
  .promo {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 260px auto;
  }

// заголовок
  .promo__wrapper {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
    transform: translateY(0px);
    // opacity: 0;

    animation-name: up;
    animation-timing-function: ease-in-out;
    animation-duration: 1000ms;
  }

// заголовок-анимация
  @keyframes up {
    0% {
        opacity: 0.1;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }
  .promo__title {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 78px;
    line-height: 80px;
    font-weight: 500;
    letter-spacing: 0.3em;
    font-variant: small-caps;
  }

  .promo__subtitle {
    margin: 0;
    margin-left: 640px;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;

    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: unset;
  }

// фото
  .promo__photo {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;

    display: grid;
    grid-template-columns: 520px auto 600px;
    grid-template-rows: 75px 470px 75px;


    background-color: #f4f5f6;
    background: linear-gradient(to left, #f4f5f6, #e8e8e8);
    width: 1220px;
    position: relative;
  }

  .promo__photo-wrapper {
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;

    &--left {
      position: relative;
      width: 520px;
      height: 620px;

      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: -1;

      border-right: 20px solid #ffffff;
    }

    &--right {
      position: absolute;
      right: -140px;

      width: 580px;
      height: 500px;

      grid-column-start: 3;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: -2;

      box-shadow: -10px 0 20px 0px #888;
      border-left: 220px solid #ffffff;
      border-right: 10px solid white;
      border-radius: 2px;
    }
  }

  .promo__img {
    display: block;
    flex-shrink: 0;
    border: none;
    object-fit: cover;
    animation: visible;
    animation-timing-function: ease-in-out;
    animation-duration: 900ms;

    &--left {
      width: 520px;
      height: 620px;
      transition-duration: 800ms;

    }

    &--right {
      width: 360px;
      height: 480px;
      margin-left: auto;
      margin-top: 10px;
      border-radius: 3px;
      transition-duration: 850ms;

    }
  }

// фото-анимация
  @keyframes visible {
    0% {
      transform: translateX(600px);
    }
    100% {
        transform: translateX(0px);
    }
  }
}
